h1{
    text-align: center;
}

article {
    width: 1000px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}

.question {
    width: 800px;
    height: 50px;
    text-align: left;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #F3F3F3;
    cursor: pointer;
    padding-left: 10px;
    margin: 0 auto;
    font-size: 15px;            
}
    
.content{
    width: 800px;
    background:#F3F3F3;
    text-align: left;
    padding: 10px;
    display: none;
    margin:0 auto;
    font-size:15px;
}

.question > span {
	margin-right: 10px;
	color : #FFA41F;
	font-size: 20px;
	font-family: 'Righteous', cursive;
}

.content > span {
	margin-right: 10px;
	color : #FFA41F;
	font-size: 20px;
	font-family: 'Righteous', cursive;
}

button {
    padding: 5px 10px;
    background-color: white;
    border: 1px solid lightgray;
    color: gray;
    border-radius: 0;
    transition: .2s;
    margin: 0 auto;
}


button:hover {
    border: 1px solid rgb(255, 208, 56);
    background-color: rgb(255, 208, 56);
    color: rgb(255, 255, 255);
}

#insertForm {
    height: 660px;
}