a{
    text-decoration-line: none !important;
    }

    .row.content {
        margin: 0 auto;
        width: 1000px;
        }


    .evtEditor{
        text-align: center;
        width: 1000px;
        margin: 0 auto;
    }

    
    .listbtn {
      padding: 10px 20px;
      background-color: white;
      border: 1px solid lightgray;
      color: gray;
      border-radius: 0;
      transition: .2s;
      margin: 0 auto;

  }
  .listbtn:hover, .btn:focus {
      border: 1px solid rgb(255, 208, 56);
      background-color: rgb(255, 208, 56);
      color: rgb(255, 255, 255);
  }

#title{
    background-color:transparent !important;
    outline: none;
    border:0 solid black;
    text-align:center;
}
.editTable tr{
	/* border: 1px solid #eeeeee; */
}
.editTable td{
	padding: 10px; 
}

#titleImgArea {
    width: 800px;
	height: 100px;
	background-color:#fbfbfb;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
#contentImgArea1{
	width: 800px;
	height: 100px;
	background-color:#fbfbfb;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.contentTxt{
	text-align:left;
	width:800px;
    background-color:#fbfbfb;
    outline: none;
    border:0 solid black;
}

.winner-tab{
	width:300px;
	margin: 0 auto;
	font-size: 16px;
    color: #333;
}
.winner-tab th{
	text-align:center;
}

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }