/* 사진&글자 아티클 설정 */ 
.thema {
    width: 900px;
    height: 200px;
    margin: 10px;
    margin-right: auto;
    padding: 10px;
    margin-left: auto;
}

/* 테마 이미지 설정 */
#thema_pic {
    width: 300px;
    height: 200px;
    float: left;
    margin-right: 20px;
}

/* 테마 상세보기 이미지 */
#thema_view_pic {
	width : 230px;
	height: 230px;
	
}

/* 큰 제목 설정 */
 h1 {
    text-align:center;
    margin-top: 30px;
} 

/* 테마 설명 설정 */
p {
    text-align: left;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

/* 사진&글자 링크 */
article > a {
    width: 900px;
    height: 200px;
    color: black;
    text-decoration: none;
    font-family: "나눔고딕"
}

/* 아티클 글자영역 안쪽 여백 */
h2, p {
    padding-top: 15px;
}

/* 테마 상세보기 div 크기 여백 */
#thema_detail {
    width: 1325px;
    height: 800px;
    margin: 0 auto;
    padding-top : 15px;
}

/* 테마 상품 배치 */
#thema_prd {
    width: 230px;
    float: left;
    margin: 15px;
}

/* 버튼 */
button {
    padding: 5px 10px;
    background-color: white;
    border: 1px solid lightgray;
    color: gray;
    border-radius: 0;
    transition: .2s;
    margin: 0 auto;
}


button:hover {
    border: 1px solid rgb(255, 208, 56);
    background-color: rgb(255, 208, 56);
    color: rgb(255, 255, 255);
}

#insertPrdForm {
    width: 500px;
    height: 500px;
}

/* #updatePrdForm {
    width: 500px;
    height: 500px;
} */